<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_URI} ^/api/
    RewriteRule (.*) app/bootstrap.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^$ web [QSA,L]

</IfModule>