html {
  overflow-y: scroll;
}

body {
  color: #5687A3;
}

#header {
  background-color: #d0ac92;
}

#content {
  margin-top: 10px;
}

#app-logo {
  width: 300px;
}

.content-align-right {
  text-align: right;
}

.content-align-center {
  text-align: center;
  margin-top: 20px;
}

.quote-wrapper {
  margin-bottom: 40px;
}

.quote-context {
    padding: 5px 0px;
}

.quote-content {
    font-size: 1.5em;
    padding: 0px 10px;
}

.quote-person {
    padding: 5px 0px;
    text-align: right;
}

.btn-primary {
  border-color: #5687A3;
  background-color: #5687A3;
  background-image: none;
}
